body {
  background: linear-gradient(to right, #080, #030);
  color: #0F0;
  text-align: center;
  margin: 5px;
}
p, a, h1 {
  font-family: Arial, Helvetica, sans-serif;
}
p {
  font-size: 25px;
}
a {
  font-size: 20px;
  color: #FFF;
}
table {
  width: 100%;
  margin: 30px;
}

#ICON_main {
  padding: 30px 0px;
}

.binaries {
  background: #FFF;
  color: #000;
  text-align: center;
  margin: 0;
}
.binaries h1 {
  padding: 20px 0px;
  font-size: 40px;
}
.binaries a {
  color: #000;
}
